


.navbar{
    color: rgb(124, 165, 121);
}

.navbar ul{
    list-style-type: none;
    color: rgb(124, 165, 121);
}

.navbar ul li{
    display:inline-block;
    margin: 1em;
    font-size: 18px;
    color: rgb(124, 165, 121);
    
}

.navbar p{
    color: rgb(124, 165, 121);
   
}

.navbar div{
    width:100%;
    height:3px;
    background-color: black; 
    
}

