


.navbar{
    color: rgb(124, 165, 121);
    display:flex;
    flex-direction:row;
    justify-content: space-between; 
}

.navbar ul{
    list-style-type: none;
    color: rgb(124, 165, 121);
}

.navbar ul li{
    display:inline-block;
    margin: 1em;
    font-size: 18px;
    color: rgb(124, 165, 121);
    
}

.navbar p{
    color: rgb(124, 165, 121);
   
}

.menu div{
    width:100%;
    height:3px;
    background-color: black; 
    
}

.filter{
  cursor:pointer;
 
  display:flex;
  
}



.filter-item-container{
  height:100%;
  width:100%;
  margin:auto;
 
}

.filter-list{
  width:100%;
  position:relative; 
   
}
.filter-list p{
  
}

.filter-item{
  width:130%;
  position:absolute; 
  bottom:0;
  left:0;
  transform:translateY(120%);
  background:black; 
  border-radius: 5px;
  z-index:2;
  overflow-wrap: break-word;
  overflow:auto;
  
 
}

.category-item{
  position:absolute; 
  bottom:0;
  width:50vw;
  right:0;
  transform:translateY(130%);
  background:black; 
  border-radius: 5px;
  z-index:2;
  overflow-wrap: break-word;
  overflow:auto;
 
}


.filter-item-wrapper{
  height:100%;
  width:100%;
  position:relative; 
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin: auto;
  align-items:center;
  text-align:center;
  
}


.category-item-wrapper{
  position:relative; 
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content:flex-start;
  margin: auto;
  align-items:center;
  text-align:center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;  
}


.filter-item p{
  margin-right: .2em;
  margin-left: .2em;
  overflow-wrap: break-word;
  font-size: 15px;
}

.category-elem{
  padding: .5em;
}


body {
    background-color: rgb(44, 57, 73);
    font-family: "Titillium Web";
  }
  
  html {
    width:100%;
    line-height: 1.15;
    text-size-adjust: 100%;
  }
  
  div {
    display: block;
  }
  
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }




  @media screen and (max-width: 600px){
    .navbar ul li{
        display:inline-block;
        margin: 1em;
        font-size: 15px;  
        color: rgb(124, 165, 121);
    }
} 
  
@media screen and (max-width: 600px){
    .navbar ul li{
        display:inline-block;
        margin: 1em;
        font-size: 11px;  
        color: rgb(124, 165, 121);
    }
    .menu div{
      width:100%;
      height:2px;
      background-color: black; 
  }
  
} 
  

